@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.figma-light body {
  --figma-color-accent: #ff1a1a;

  --figma-color-bg: hsla(0, 0%, 100%, 1);
  --figma-color-pad-hard: #333;
  --figma-color-pad-soft: #f1f1f1;

  --figma-color-text-main: #333;
  --figma-color-text-invert: #fff;
  --figma-color-text-optional: #b6b6b6;

  --figma-gradient-fade-up: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 0) 100%);
}


.figma-dark body {
  --figma-color-accent: #ff1a1a;

  --figma-color-bg: #2c2c2c;
  --figma-color-pad-hard: #232323;
  --figma-color-pad-soft: #232323;

  --figma-color-text-main: #d8d8d8;
  --figma-color-text-optional: #717171;

  --figma-gradient-fade-up: linear-gradient(0deg, hsla(0, 0%, 17%, 1) 0%, hsla(0, 0%, 17%, 0) 100%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: var(--figma-color-text-main);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

button,
textarea {
  font-family: inherit;
  font-weight: 400;
}

button,
h3,
p,
a,
small {
  user-select: none;
}

h3,
p {
  font-size: 11px;
}

h3 {
  font-weight: 400;
  color: var(--figma-color-text-optional);
  height: 16px;
}

small {
  font-size: 10px;
}

a:focus,
button:focus,
textarea:focus {
  outline: none;
}

a {
  cursor: default;
  color: var(--figma-color-text-main);
  text-decoration: none;
  transition: all 150ms ease;
}

a:hover {
  color: var(--figma-color-accent);
  transition: all 150ms ease;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--figma-color-text-main);
  font-size: 11px;
  font-weight: 600;
  flex-grow: 1;
  height: 21px;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

hr {
  background-color: var(--figma-color-pad-soft);
  border: none;
  height: 1px;
  width: 100%;
}

textarea {
  background-color: var(--figma-color-bg);
  border: none;
  border-bottom: 1px solid var(--figma-color-pad-soft);
  color: var(--figma-color-text-main);
  cursor: default;
  font-size: 11px;
  height: 48px;
  padding: 0 8px 0 0;
  resize: none;
  transition: all 150ms ease;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea::placeholder {
  color: var(--figma-color-text-optional);
  font-size: 11px;
}

textarea:focus,
textarea:hover {
  border-color: var(--figma-color-accent);
  transition: all 150ms ease;
}

input[type='radio'] {
  display: none;
}

input[type='range'] {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  width: 100%;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--figma-color-pad-soft);
  border: 6px solid var(--figma-color-bg);
  height: 16px;
  border-radius: 8px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: var(--figma-color-accent);
  height: 8px;
  width: 8px;
  margin-top: -2px;
}

output {
  font-size: 11px;
}

input[type='range']:active::-webkit-slider-thumb {
  outline: none;
}

.plugin {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  background-color: var(--figma-color-bg);
}

.plugin__source-text,
.plugin__random-generation {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 16px;
}

.plugin__title {
  margin: 0 0 4px 0;
}

.plugin__textbox {
  margin: 0 0 8px 0;
}

.plugin__source-button,
.plugin__random-button-container .plugin__random-button {
  transition: all 150ms ease;
}

.plugin__source-button:hover,
.plugin__help-closer:hover {
  color: var(--figma-color-accent);
  transition: all 150ms ease;
}

.plugin__random-button-container {
  display: flex;
}

.plugin__random-button {
  width: 152px;
}

.plugin__range-container {
  display: flex;
  opacity: 0;
  align-items: center;
  transition: all 150ms ease;
}

.plugin__random-button-container:hover .plugin__range-container {
  opacity: 1;
  transition: all 150ms ease;
}

.plugin__range-container input {
  margin: 0 8px 0 0;
}

.plugin__range-container output {
  width: 16px;
}

.plugin__switcher {
  display: flex;
  margin: 0 0 16px 0;
}

.plugin__toggle {
  height: 30px;
  padding: 8px 15px;
  border-radius: 2px;
  margin: 0 2px 0 0;
  transition: all 150ms ease;
}

.plugin__control-panel {
  height: 24px;
  margin: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plugin__info {
  display: flex;
  align-items: center;
}

.plugin__info small {
  margin: 0 16px 0 0;
}

.plugin__info small:last-child {
  margin: 0;
}

.plugin__lang {
  display: flex;
}

.plugin__lang-toggle {
  margin: 0 4px 0 0;
}

.plugin__lang-toggle:last-child {
  margin: 0;
}

input[type='radio'] + .plugin__lang-toggle {
  color: var(--figma-color-text-main);
  transition: all 150ms ease;
}

input[type='radio']:hover + .plugin__lang-toggle {
  color: var(--figma-color-accent);
  transition: all 150ms ease;
}

input[type='radio']:checked + .plugin__lang-toggle {
  color: var(--figma-color-text-optional);
  pointer-events: none;
  transition: all 150ms ease;
}

.plugin__help {
  opacity: 0;
  transform: scale(0.9);
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 150ms ease;
  z-index: -1;
}

.plugin__help_active {
  z-index: 1;
  opacity: 1;
  transform: scale(1);
  background-color: var(--figma-color-bg);
  transition: all 150ms ease;
}

.plugin__help-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 16px 16px 0 16px;
}

.plugin__help-content::-webkit-scrollbar {
  display: none;
}

.plugin__help-section {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.plugin__help-text {
  margin: 0 0 8px 0;
}

.plugin__help-text:last-child {
  margin: 0;
}

.plugin__help-pic {
  height: 102px;
  width: 272px;
  border-radius: 8px;
}

.plugin__help-pic_1 {
  background-image: url('./images/1.png');
}

.plugin__help-pic_2 {
  background-image: url('./images/2.png');
}

.plugin__help-gradient {
  content: ' ';
  position: sticky;
  bottom: 0;
  left: 0;
  min-height: 24px;
  background: var(--figma-gradient-fade-up);
}

.plugin__help-bottom-panel {
  display: flex;
  place-items: center;
  height: 40px;
}

.plugin__help-closer {
  margin: 0 0 0 16px;
}

/* effects  */
.effect-in {
  animation: effect-in 300ms ease;
}

.effect-lang-switch {
  animation: effect-lang-switch 300ms;
}

@keyframes effect-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes effect-lang-switch {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
